reid:
  cnn:
    output_dim: 128
  dataloader:
    K: 4
    P: 18
    crop_H: 256
    crop_W: 128
    max_per_person: 1000
    normalize_mean:
    - 0.485
    - 0.456
    - 0.406
    normalize_std:
    - 0.229
    - 0.224
    - 0.225
    transform: random
    vis_threshold: 0.3
  db_train: train
  db_val: false
  desription: all
  lr_scheduler: true
  max_epochs: 69
  model_args:
    loss: batch_hard
    margin: 0.2
    prec_at_k: 3
  module_name: reid
  name: res50-mot17-batch_hard
  seed: 12345
  solver:
    optim: Adam
    optim_args:
      lr: 0.0003
      weight_decay: 0.0
seed: 453695
